.html {
  box-sizing: border-box;
}

#barcont {
  position: absolute;
  bottom: 0;
  left: 100px;
}


.bar {
  width: 2px;
  background: pink;
  display: inline-block;
  margin: 0 1px;

}

.barselected {
  background: blue;
}